# I used 2012 SAT result in NYC public schools as dataset in project 1

In [11]:
import pandas as pd

df = pd.read_csv("2012_SAT_Results_20251105.csv")
df.head()

,DBN,SCHOOL NAME,Num of SAT Test Takers,SAT Critical Reading Avg. Score,SAT Math Avg. Score,SAT Writing Avg. Score
0,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES,29,355,404,363
1,01M448,UNIVERSITY NEIGHBORHOOD HIGH SCHOOL,91,383,423,366
2,01M450,EAST SIDE COMMUNITY SCHOOL,70,377,402,370
3,01M458,FORSYTH SATELLITE ACADEMY,7,414,401,359
4,01M509,MARTA VALLE HIGH SCHOOL,44,390,433,384

#Data cleaning

In [13]:
import re
clean = df[numeric_col].astype(str).str.replace(r"[^0-9\.-]", "", regex=True)
df[numeric_col] = pd.to_numeric(clean, errors="coerce")

#Calculate mean, median, and mode for SAT Math score (pandas version)

In [14]:
numeric_col = 'SAT Math Avg. Score'  # Replace with an actual column name from your CSV
mean_value = df[numeric_col].mean()
median_value = df[numeric_col].median()
mode_value = df[numeric_col].mode()[0]

print(f"Mean: {mean_value:.2f}")
print(f"Median: {median_value:.2f}")
print(f"Mode: {mode_value:.2f}")

Mean: 413.37
Median: 395.00
Mode: 385.00

In [16]:
# Calculate mean, median, and mode without using pandas built-in functions

# Mean
mean_value_hard = sum(values) / len(values)

# Median
sorted_values = sorted(values)
mid = len(sorted_values) // 2
if len(sorted_values) % 2 == 0:
    median_value_hard = (sorted_values[mid - 1] + sorted_values[mid]) / 2
else:
    median_value_hard = sorted_values[mid]

# Mode
freq = {}
for v in values:
    freq[v] = freq.get(v, 0) + 1
mode_value_hard = max(freq, key=freq.get)

print(f"Hard Way - Mean: {mean_value_hard:.2f}")
print(f"Hard Way - Median: {median_value_hard:.2f}")
print(f"Hard Way - Mode: {mode_value_hard:.2f}")

Hard Way - Mean: 413.37
Hard Way - Median: 395.00
Hard Way - Mode: 385.00

#Data Visualization

In [17]:
# Obtain frequency counts (from earlier)
for value, count in sorted(freq.items()):
    stars = '*' * int(count / max(freq.values()) * 50)  # Scale for visual clarity
    print(f"{value}: {stars}")

312.0: *****
315.0: *****
317.0: *****
318.0: *****
320.0: *****
322.0: *****
323.0: ***********
324.0: *****
333.0: *****
335.0: ***********
337.0: *****
338.0: *****
339.0: *****
341.0: *****
342.0: *****
344.0: *****
346.0: ***********
349.0: *********************************
350.0: *****
351.0: ***********
353.0: **********************
355.0: ****************
356.0: ***************************
357.0: *********************************
358.0: ****************
359.0: ***********
360.0: ****************
361.0: **********************
362.0: ****************
363.0: ***********
364.0: ********************************************
365.0: ***************************
366.0: ***********
367.0: **********************
368.0: **********************
369.0: ***************************
370.0: *********************************
371.0: ********************************************
372.0: ***************************
373.0: ****************
374.0: ****************
375.0: ***************************
376.0: ***************************
377.0: **********************
378.0: **************************************
379.0: **************************************
380.0: ****************
381.0: ********************************************
382.0: ***************************
383.0: *****
384.0: ***************************
385.0: **************************************************
386.0: ***************************
387.0: ****************
388.0: *****
390.0: ***************************
391.0: ********************************************
392.0: ***********
393.0: *********************************
394.0: **********************
395.0: **********************
396.0: ****************
397.0: ****************
398.0: ****************
399.0: ****************
400.0: ***************************
401.0: **********************
402.0: **********************
403.0: **********************
404.0: **********************
406.0: ***********
408.0: ***********
409.0: **********************
410.0: *****
411.0: ***********
412.0: ***********
413.0: ****************
414.0: ***********
415.0: *****
416.0: *********************************
417.0: ****************
418.0: ***************************
419.0: ***********
420.0: ****************
421.0: **********************
422.0: ***********
423.0: ****************
424.0: *****
425.0: *****
426.0: ***************************
427.0: ***********
429.0: *****
432.0: ***********
433.0: ****************
434.0: ***********
435.0: ***********
436.0: ***********
437.0: ***********
438.0: ****************
440.0: **********************
441.0: ****************
443.0: *****
444.0: *****
445.0: ***********
446.0: ***********
447.0: ***********
449.0: **********************
451.0: ***********
452.0: *****
454.0: *****
455.0: ***********
456.0: ***********
458.0: *****
460.0: *****
462.0: *****
463.0: *****
464.0: *****
465.0: ***********
468.0: *****
471.0: ***********
472.0: ***********
473.0: *****
474.0: ****************
475.0: ***********
477.0: *****
478.0: ***********
480.0: *****
481.0: *****
483.0: *****
486.0: ***********
488.0: *****
489.0: ***********
490.0: *****
491.0: *****
492.0: ***********
493.0: *****
496.0: ****************
497.0: *****
498.0: *****
499.0: *****
506.0: *****
508.0: *****
512.0: *****
514.0: *****
517.0: *****
519.0: *****
523.0: ***********
533.0: *****
537.0: *****
539.0: *****
545.0: *****
553.0: *****
557.0: *****
561.0: *****
563.0: *****
564.0: *****
568.0: ***********
574.0: *****
575.0: *****
581.0: *****
584.0: *****
590.0: *****
594.0: *****
604.0: *****
648.0: *****
651.0: *****
654.0: *****
659.0: *****
660.0: *****
682.0: *****
688.0: *****
735.0: *****